---
import Layout from "@/layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Freedom Stack v2">
  <h1>Freedom Stack v2</h1>
  <a href="/messages" class="btn btn-primary">Open Messages</a>
</Layout>
