---
import { getApi } from "@/bknd.ts";
import Layout from "@/layouts/Layout.astro";

const api = await getApi(Astro.request.headers, { verify: true, mode: "dynamic" });

const { data } = await api.data.readMany("posts");
const user = api.getUser();
---

<Layout title="Freedom Stack v2">
  <section class="mx-auto flex max-w-md flex-col gap-4 p-6">
    <h1 class="heading-1">Freedom Stack v2</h1>
    {user?.email ? <p>Logged in as {user.email}</p> : <p>Not logged in</p>}
    <h2 class="heading-2">Posts</h2>
    <div class="grid grid-cols-1 gap-4">
      {
        data.map((post) => (
          <a href={`/posts/${encodeURIComponent(post.slug)}`} class="card block transition-shadow hover:shadow-lg">
            <header>
              <h3 class="text-lg font-semibold">{post.title}</h3>
            </header>
            <section class="text-muted-foreground line-clamp-3">
              {post.content?.slice(0, 256) ?? "No preview available…"}
            </section>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
